.game-type-section {
    max-width: 1048px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.game-type-section .card {
    width: 20%;
    height: 20%;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-type-section .card img {
    width: 25%;
}

.game-type-section .card h3 {
    font-size: 1.2rem;
}
