.game-type-section {
    max-width: 1048px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
}

.game-type-section .card {
    width: 20%;
    height: 20%;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.game-type-section .card img {
    width: 15%;
}

.game-type-section .card h3 {
    font-size: .7rem;
}
