/* tablet */

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-icon {
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }
    .banner-content > h1 {
        font-size: 1.5rem;
    }
    
    .banner-content > h2 {
        font-size: 3rem;
    }

    .banner-btns {
        width: 65%;
    }

    .banner-btns .sign-in-btn,
    .banner-btns .go-rogue-btn {
        font-size: .6rem;
    }

    .banner-content p {
        font-size: .7rem;
    }

    .banner-img {
        width: 60%;
        height: 100%;
        object-fit: cover;
    
    }

    .game-video-section {
        margin-top: 5rem;
    }

    
    .game-videos .card > p{
        font-size: 2vw;
    }

    .game-videos {
        row-gap: 4rem;
        column-gap: 2rem;
    }

    .game-type-section {
        width: 90%;
        row-gap: 3rem;
    }


    .game-type-section .card img {
        width: 20%;
    }
    
    .game-type-section  .card1 img {
        width: 24%;
    }
    
    
    .game-type-section .card h3 {
        font-size: 1rem;
        width: max-content;
    }

    .footer-container {
        padding: 2rem 0;
    }

    .footer-title img {
        width: 30%;
    }
    
    .footer-title h2 {
        font-size: 2rem;
    }
    

    .footer-content, 
    .footer-icons,
    .footer-privacy {
        flex-wrap: wrap;
        gap: 2rem;

    }

    .footer-content {
        width: 55%;
        justify-content: space-evenly;
    }

    .footer-content p {
        font-size: .6rem;
    }

    .footer-icons {
        width: 40%;
    }

    .footer-icons img {
        width: 6%;
    }

    .footer-privacy {
        width: 60%;
        justify-content: center;
        gap: 1rem;
    }

    .footer-privacy p,
    .footer-last{
        font-size: .5rem;
    }

    .footer-last {
        flex-direction: column;
        width: 40%;
        text-align: center;
    }
}


/* Mobile Device */

@media screen and (max-width: 576px) {
    .nav-container,
    .nav-items {
        flex-direction: column;
    }   
    .nav-container {
        gap: 4rem;
    }
    .nav-icon {
        width: 100%;
        justify-content: center;
        /* gap: 1rem; */
    }

    .nav-items {
        gap: 2rem;
    }

    .nav-items .follow-us {
        margin-top: .8rem;
    }
    
    .banner-container {
        flex-direction: column;
    }

    .banner-content{
        width: 100%;
        align-items: center;
    }

    .banner-btns {
        width: 65%;
        justify-content: center;
        gap: 1rem;

    }

    .banner-img {
        width: 100%;
        height: 1000px;
        /* background-size: 100%; */
    }

    .game-video-section {
        margin-top: 25rem;
        width: 60%;
        margin-bottom: 3rem;
    }

    .game-video-content > h1 {
        font-size: 4.5vw;
    }
    
    .game-video-content > p {
        font-size: 2vw;
    }

    .game-videos .card > p{
        font-size: 3vw;
    }

    .game-videos {
        row-gap: 2rem;
    }

    .game-type-section {
        width: 85%;
        row-gap: .5rem;
        margin-top: 0rem;
        border: none;
        justify-content: start;
    }

    .game-type-section .card:nth-child(2n) {
        width: 35%;
    }

    .game-type-section .card:nth-child(2n - 1) {
        width: 28%;
    }

    .game-type-section .card:nth-child(7) {
        width: 37%;
    }

    .game-type-section .card:nth-child(8) {
        width: 28%;
    }

    .game-type-section .card:last-child{
        width: 30%;
    }


    .game-type-section .card img {
        width: 20%;
    }
    
    .game-type-section  .card1 img {
        width: 22%;
    }
    
    
    .game-type-section .card h3 {
        width: auto;
        font-size: .5rem;
    }

    .footer-container {
        padding: 2rem 0;
    }

    .footer-title img {
        width: 30%;
    }
    
    .footer-title h2 {
        font-size: 2rem;
    }
    

    .footer-content, 
    .footer-icons,
    .footer-privacy {
        flex-wrap: wrap;
        gap: 2rem;

    }

    .footer-content {
        width: 55%;
        justify-content: space-evenly;
    }

    .footer-content p {
        font-size: .6rem;
    }

    .footer-icons {
        width: 30%;
    }

    .footer-icons img {
        width: 15%;
    }

    .footer-privacy {
        width: 60%;
        justify-content: space-around;
    }

    .footer-privacy p,
    .footer-last{
        font-size: .5rem;
    }

    .footer-last {
        flex-direction: column;
        width: 40%;
        text-align: center;
    }
}